<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="'back'" defaultHref="/" (click)="close()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div [innerHTML]="rawMessage | nl2br"></div>

    <div style="margin-top: 50px; display: flex; justify-content: center">
        <ion-button (click)="goToHistory()">
            View History
        </ion-button>
    </div>
</ion-content>
