<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Home Page
        </ion-title>
        <ion-button (click)="scan()" slot="end">
            <ion-icon name="Bluetooth"></ion-icon>
            <p>Scan</p>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">
                Home Page
            </ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-list>
        <ion-card-content *ngFor="let result of devices">
            <p>Name: {{result.localName || 'Unnamed'}}</p>
            <p>Device id: {{result.device.deviceId}}</p>
            <p> RSSI: {{result.rssi}}</p>
            <p> UUIDS: {{result.uuids | json}}</p>
        </ion-card-content>
    </ion-list>
</ion-content>
